OCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   
    <title>Suma</title>
   
</head>
<body>
    <div >
        <h1>Calculadora de Suma</h1>
      <form method="POST">
        <label>Ingrese al formulario</label> 
        <input type="number"name="num1"> </input>
        
        <label>Ingrese al formulario</label>
        <input type="number"name="num2"> </input>
        <button type="submit">Sumar
            
        </button>
        
      </form>
      <p>Resultado:{{ resultado }} </p>
    
    </div>
</body>
</html>